<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Welcome to Admin Page</h1>
    <!-- Jinja syntax -->
    <!-- 
    <h1>Hello! {{myname}}</h1>
    <h2>You are {{age}} years old</h2>-->

    <!-- Jinja if statement -->
    {% if username == "Bhum" %}
        <h1>Hello Gorgeous</h1>
    {% else %}
        <h1>You aure not admin</h1>
        <a href="/">Back to Home Page</a>
    {% endif %}
</body>
</html>